<head>
    <link rel="stylesheet" href="../assets/css/style.css">
</head>
<body>
    <section id="initial">
        <header id="header">
            <div id="title">My Quiz</div>
        </header>
        <div id="actions">
            <div id="actionUser">
                    <a href="login"><button type="button" class="btn-user btn btn-light">Entrar</button></a>
                    <a href="register"><button type="button" class="btn-user btn btn-light">Cadastrar</button></a>
            </div>
        </div>
    </section>
</body>